body{
    font-family: Arial, sans-serif;
    background-color: #d4d0d0;
    color: #333;
    padding: 0;
    margin: 0;
}
header{
    background-color: #d10000;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}
#Products{
    margin-top: 20px;
    margin-bottom:20px ; 
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

h2{
    color: #4cAf50;
    text-align: center;
}
.email-field{
    margin-bottom: 10px;
    
}
button{
    background-color: #4cAf50;
    color: #fff;
    padding: 10px;
    border: 0;
    border-radius: 5px;
}
footer{
    margin-top: 20px;
    padding: 20px;
    background-color: #000000;
    border-radius: 5px;
    text-align: center;
    color: #fff;
}
image{
    border-radius: 5px;
    
}
.product{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-left: 300px;
    margin-right: 300px;
}
